body{
    
    background-image: url(https://cdn11.bigcommerce.com/s-8e25iavqdi/images/stencil/1280x1280/products/31089/30558/victory-square-album-cover-sticker__06273.1539733088.jpg?c=2);
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    color: white;
    text-align: center;
}
main{
    text-align: center;
}
img{
    border-radius: 20px;
}
footer{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/1200px-Flag_of_Canada_%28Pantone%29.svg.png);
    background-size: contain;
    width: 100%;
    height: 20px;
}