#nombre{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
img {
    margin: auto;
    display: block;
}

.clase1 {
    text-align: left;
    background-color: yellow;
}

.clase2 {
    text-align: center;
    background-color: greenyellow;

}
#footer {
    background-color: red;
    text-align: center;
}
.input-estilos{
    background-color: white;
    caret-color: pink;
    color: green;
}

form>label+input{
    font-size: 100px;
    background-color: orange;
}